*{
  font-family: 'Roboto', sans-serif;
}
.project {
   border: 1px solid white ; 
   padding: 1px;
}
.containerone {
  width: 100%; 
  background-color: rgb(199, 199, 199); 
}
.skillsone {
  text-align: left; 
  padding-left: 11.5em;
  color: white; 
}
.skillstwo{
  text-align: left; 
  padding-left: 10.5em;
  color: white; 
}
.skillsthree {
  text-align: left; 
  padding-left: 9.5em;
  color: white; 
}
.html {
    width: 80%; 
    background-color: #0ec884; 
    font-weight: bold;
} 
.css {
    width: 75%; 
    background-color: #4da9f5; 
    font-weight: bold;
} 
.js {
    width: 65%; 
    background-color: #585858; 
    font-weight: bold;} 
.lkcl {
  color: gray;
}
.self {
  /* margin-top: 10px; */
  border-radius: 50%;
  border: rgb(255, 255, 255) solid 3px ;
  width: 10em;
}
.contact {
  margin-right: 10px;
}
#getintouch {
  margin-bottom: 3em;
}
.homeone {
  border: 1px solid white ; 
  padding: 1px;
}
.blue {
  color:#3d64ff;
}
.nametwo {
  margin-top: -10px;
  font-size: 25px;
  font-weight: 700;
}
.name,
.nametwo {
  text-shadow: 3px 3px 4px #000000;
}
.follow {
  margin-left: 60em;
}


@media (max-width: 400px){
  .skillsone {
    text-align: left; 
    padding-left: 5.5em;
    width: 100%;
    color: white; 
  }
  .skillstwo{
    text-align: left; 
    padding-left: 5em;
    color: white; 
  }
  .skillsthree {
    text-align: left; 
    padding-left: 4em;
    color: white; 
  }
}


